<?xml version="1.0"?>
<model>
  <name>ldrobot_d500</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Kevin Medrano Ayala</name><email>kevin.ejem18@gmail.com</email></author>
  <description>
    LDROBOT D500 (LD19 / STL-19P): LiDAR 2D de 360 grados, 12 m de alcance,
    ~4500 puntos/s a 10 Hz. Carcasa negra con tambor giratorio granate.
  </description>
</model>
