<?xml version="1.0"?>
<model>
  <name>rjx_f450</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Kevin Medrano Ayala</name><email>kevin.ejem18@gmail.com</email></author>
  <description>RJX F450 con los 4 motores F90 KV1300 accionados. Sin sensores.</description>
</model>
