<?xml version="1.0"?>
<model>
  <name>rjx_f450_indoor</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author><name>Kevin Medrano Ayala</name><email>kevin.ejem18@gmail.com</email></author>
  <description>
    RJX F450 de pruebas indoor: frame de carbono con protectores rojos, Raspberry Pi 4,
    MTF-01P (flujo optico + laser 1D de 12 m) bajo la placa inferior y LDROBOT D500
    (LiDAR 2D 360 grados, 12 m) sobre la cubierta superior.
  </description>
</model>
